@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Prompt&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #01445e;
    width: 100%;
    height: 100vh;
    color: whitesmoke;
    font-family: 'Paytone One', sans-serif;
    overflow: hidden;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bi {
    position: relative;
    left: 200px;
    top: -60px;
    font-size: 35px;
    cursor: pointer;
    color: #c56c86;
}

@media screen and (max-width:1020px) {
    body {
        overflow: hidden;
    }
}

@media screen and (max-width:830px) {
    .bi {
        position: relative;
        left: 420px;
    }
}

@media screen and (min-width:830px) and (max-width:1500px) {
    .bi {
        position: relative;
        left: 685px;
    }
}

@media screen and (min-width:1500px) {
    .bi {
        position: relative;
        left: 1020px;
    }
}

.card {
    background-color: #c56c86;
    position: relative;
    top: 250px;
    left: 100px;
    box-shadow: 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px;
}

@media screen and (max-width:786px) {
    .card {
        position: relative;
        left: -20px;
        top: 250px;
    }
}

.input-group {
    font-family: 'Prompt', sans-serif;
}

input::placeholder {
    padding-left: 8px;
}

button:hover {
    background-color: black;
}